@using ShopHub.entities
@model IList<Product>

@{
    Layout = "_LoginLayout";
}


@if (Model != null && Model.Count > 0)
{
    <h1>Products List <a href="@Url.Action("AddProduct","Product")" class="btn btn-primary">Add Product</a></h1>

    <div class="row">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr id="product.Product_ID">
                        <td>@product.ProductName</td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td>@product.Stock</td>
                        <td>
                            <a href="@Url.Action("EditProduct","Product",new{Product_ID = product.ProductId })">Edit</a>
                            |
                            <a href="javascript:0;" onclick="DeleteProduct(@product.ProductId)">Delete</a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h2>No Products Data ..</h2>
}

<script type="text/javascript">

    function DeleteProduct(Product_ID) {

        var url = "https://localhost:7295/Product/DeleteProduct";
        var parameters = { Product_ID: Product_ID };

        $.post(url, parameters, function (data) {

            alert("Product with Id:" + Product_ID + " was deleted");

            $("tr#" + Product_ID).remove();

        });

    }


</script>